@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(18, 109, 199);
    --primary-color-darker: rgb(12, 83, 154);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 15px;
}
.container h1{
    font-size: 40px;
}
.container h2 {
    font-size: 25px;
    max-width: 50%;
    display: inline-block;
    padding: 1rem 1rem;
    margin: 0 179px 0 0;
}

.container #tabela-peso,
#tabela-imc {
    font-size: 15px;
    max-width: 50%;
    display: inline-block;
    width: 150px;
    margin: 0px 97px 30px 14px;
}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form label{
    font-size: 20px;
    font-weight: 700;
}

form input {
    font-size: 20px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: aliceblue;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    width: 30%;
    margin: 30px auto;
    cursor: pointer;
}

form button {
    background: var(--primary-color-darker);
}

div.resultado p {
    background-color: rgb(85, 167, 234);
    font-size: 20px;
    height: 45px;
    padding: 10px 10px;

}
div.resultado p#erro{
    background-color: rgb(239, 101, 101);

}